FORMAT: 1A
HOST: http://api.ayalo.co/v1

# Yalo Query Base yAPI

yAPI is query oriented API that allows Ayalo client applications to access the core business on behalf of users to perform a variety of complex queries over stores, locations and products and other resource.

To familiarize with yAPI, you can browse through all this detail documentation.

This document was build ussing a cookbook style and will guide you through the most common and simple query tasks to yAPI expert.
It's designed to start from the basics and slowly increase sophisticated concepts until you know everything there is to know about querying over yAPI.

These guides are written in Markdown and are available on our private git [repo](ayalo.bitbucket.org). If there is something missing, or you find a typo or mistake, please help us by filing an issue or submitting a pull request. Thanks!

# Overview

yAPI is designed and optimized for queries over a just few core business objects or resources.
The yAPI search engine provides the power of a speed search with a sophisticated, developer-friendly query language.

Through yAPI it's possible to access Ayalo locations, stores, products, categories and others.
The API is based in the idea that each resource or collection is stored in a specific path where it's possible to do filtering and search.

For example, pay attention to the next URL.
`api.ayalo.co/v1/mx/stores/df/satelite/`
This path represent all the stores that are physically located at Mexico, Distrito Federal region , Satelite city.

FORMAT: 1A
HOST: http://polls.apiblueprint.org/

#Authentication and Authorization

yAPI uses OAuth2 to to allow authenticated access to private resources and business objects.

OAuth2 is a protocol that lets external apps request authorization to private details in a Yalo user’s account without getting their password. This is preferred over Basic Authentication because tokens can be limited to specific types of data, and can be revoked by users at any time.

All Yalo internal and extenal applications need to register their application before getting started. A registered OAuth application is assigned a unique Client ID and Client Secret. The Client Secret should not be shared.

## Terms to know

### Client (application)
It can be an app running on a mobile device or a web app. The app makes requests to the resource server for protected assets on behalf of the resource owner. The resource owner must give the app permission to access the protected resources.

### Resource owner
Also called an "end user". This is generally the person (or other entity) who is capable of granting access to a protected resource. For example, if an app needs to use chat messages or email address, then you are the resource owner and the only person who can grant the app access to your data.

### Resource server
The resource server is the yAPI platform who stores and manage user and business resources. The yAPI platform need to perform authorization steps before it will serve up protected resources to and application client.

### Authorization server
Yalo authorization server is implemented in compliance with the OAuth 2.0 specification, and it is responsible for validating authorization grants and issuing the access tokens that give the app access to the user's data on yAPI.

### Authorization grant
Gives the app permission to retrieve an access token on behalf of the end user. OAuth 2.0 defines four specific "grant types".

### Access token
A long string of characters that serves as a credential used to access protected resources.

### Protected resource
Data owned by the resource owner. For example, the user's contact list, account information, or other sensitive data. 

## Anonymous request
 yAPI supports anonymous request to some of the resources, for example you may list the countries available.

## Scopes
Scopes limit access for OAuth tokens providing a way to limit the amount of access that is granted to an access token.For example, an access token issued to a client app may be granted READ and WRITE access to protected resource as chat conversations or user profile data, or just READ. Scopes do not grant any additional permission beyond that which the user already has.



## Yalo OAuth protocol flows
### Resource owner grant type
The resource owner password grant type is used in our trusted internal applications.  In this configuration, the user provides his resource server credentials (username/password) to the client app, which sends them in the request, the server validates the credentials, and if they are valid, proceeds to generate an access token and returns it.

## Client credentials grant type

## Requirements to authenticate on Yalo platform
To authenticate through the OAuth2 server you need to provide:

1. Application client credentials that consist of a valid `clientId` and `clientSecret`.
2. Resource owner user credentials.
3. At least one scope to specify the type of access that are been requested.

## Signin a user through token generation [POST /oauth/token]
To signin a user you must generate a token that must be used in all the requests to the platform. This endpoint also has the ability of generating a chat session token if a `nonce` is provided or if a `chatSessionToken: true` paramed is added to the body.
To signup new a user you can use the same endpoint for user signing. The only difference will be the response code `201` recieved.

+ Parameters

     + Authorization: `Basic dG90bzplZHdhc2Fh` (String, optional) - Basic64 encode client credentials to be provided in the request header
     + username: `fabia@gmail.com` (String, required) - An email that represents the user to signin
     + password: `123` (String, required) - The user password
     + grantType: `password` (String, required) - The grant to be executed
     + nonce: `e7fzVtooU7U7Bx4HMliusVZVJj6VDkJaxrRi0yMN1mpcsmJCdDTtKUvBI02_0n_eahk9t9HIqLQ_ShLZ3IIBAQ` (String, optional) - Provide a nonce to also generate a chat session token.
     + chatToken: `true` (String, optional) - Provide this param if a nonce is not include and you want to get a chat session token.
        + Default: `false`

+ Request Singin a user (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "username": "fabia@gmail.com",
                "password":"1234",
                "grantType":"password"
            }

+ Response 200 (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
              "statusCode": 201,
              "user": {
                "email": "fabia@ayalo.com"
              },
              "type": "bearer",
              "token": "c3d1973e5ca12eb80d5132283ebd850ede34ae17",
              "expiresIn": 3600,
              "refreshToken": "da0fc43d172ed901466dc783a75697e39bd7302f"
            }
            
+ Request Sign in a user with nonce an request a chat identity token (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "username": "fabia@gmail.com",
                "password":"1234",
                "grantType":"password",
                "nonce":"e7fzVtooU7U7Bx4HMliusVZVJj6VDkJaxrRi0yMN1mpcsmJCdDTtKUvBI02_0n_eahk9t9HIqLQ_ShLZ3IIBAQ"
            }

+ Response 200 (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "statusCode": 200,
                "user": {
                    "email": "fred@ayalo.co"
                },
                "type": "bearer",
                "token": "56f5ba105c3bc1cd132f91daee538011a2ccd6cb",
                "expiresIn": 3600,
                "chat": {
                    "identityToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImN0eSI6ImxheWVyLWVpdDt2PTEiLCJraWQiOiJsYXllcjovLy9rZXlzL2ZhNjk3M2ZlLTY5NjUtMTFlNS1hODc3LWNlMjQwMjAwNTEyYSJ9.eyJpc3MiOiJsYXllcjovLy9wcm92aWRlcnMvYmVjODhmM2EtNjI2NS0xMWU1LWJjN2UtMGVkZmZlMDA3ODhmIiwicHJuIjoiZnJlZEBheWFsby5jbyIsImlhdCI6MTQ0ODEzMjk0NywiZXhwIjoxNDQ4MTQyOTQ3LCJuY2UiOiJ4NUpSMlNYTHZyZ0VrVjQxemtRUmN2SzYwVTFETTh4Nm02SHo4N2hQVU04aUYxZVo1QWpNV3Eta0ZiNzRwd0xoUHotTVRqWXhEbEVpazl3dEFDZlRNQSJ9.M61nHOa83wnCpFD14vqJPOU8TrglnsMb3M95R8KjSd2c0jHE9A9nNa_eahI0CvJ4SsvsMGxGwSyE94vFPNCxQTrmNb2jKnK4apQPQMs7_6jLArqps78kWI7IVFdXE-C8zRM3-jA3fJQiCCQeo9VFoD0SLrMFiiy3n23y3gZ4b04"
                }
            }    
            

+ Request Sign in a user with chat session token parameter true and nonce to get a `sessionToken` and `identityToken` (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "username": "fabia@gmail.com",
                "password":"1234",
                "grantType":"password",
                "nonce":"e7fzVtooU7U7Bx4HMliusVZVJj6VDkJaxrRi0yMN1mpcsmJCdDTtKUvBI02_0n_eahk9t9HIqLQ_ShLZ3IIBAQ",
                "chatSessionToken": true
            }

+ Response 200 (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "statusCode": 200,
                "user": {
                    "email": "fred@ayalo.co"
                },
                "type": "bearer",
                "token": "8fb3484d8b7f2dfaca53f653a605ec9cd9316723",
                "expiresIn": 3600,
                "chat": {
                    "sessionToken": "LPXXQXtj7eQpWw4GtSCsMYuTIf2pE6jLDGprScgor2z-VnrAkfJr577s0t4saaZM-z4f5Whq3S7tqAth4r_b5g.8-1",
                    "identityToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImN0eSI6ImxheWVyLWVpdDt2PTEiLCJraWQiOiJsYXllcjovLy9rZXlzL2ZhNjk3M2ZlLTY5NjUtMTFlNS1hODc3LWNlMjQwMjAwNTEyYSJ9.eyJpc3MiOiJsYXllcjovLy9wcm92aWRlcnMvYmVjODhmM2EtNjI2NS0xMWU1LWJjN2UtMGVkZmZlMDA3ODhmIiwicHJuIjoiZnJlZEBheWFsby5jbyIsImlhdCI6MTQ0ODEzMzA1NiwiZXhwIjoxNDQ4MTQzMDU2LCJuY2UiOiJCaUthenBFaWN4UmZ3WFY3Y3FkU1VEeG0ybmFZbG9ycnQ2am05ZXd4MWRndFJUOHI1T0VYeERpeGxpYnEzV215Q3I4dzVRN1hUTVplT0tkaENMWFo0ZyJ9.Ngf5CqUxcAY5L8tuBAdbMmQKQck3vJZp3xPD2oTP90CjcVDPR-4KeIDqCILHhGfz_lAbxC3kjZ237EMxSuWYrZzKe0Gzxg5M-C-kTPXYk6HfulYYE6UTCQgNYSDmqa6VHWQi4y6T5ipIUcAhorCdRJyy8CbAQiyAebkcaZxYYQc"
                }
            }

+ Request Sign in a user with chat session token parameter without a nonce (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "username": "fabia@gmail.com",
                "password":"1234",
                "grantType":"password",
                "chatSessionToken": true
            }

+ Response 200 (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
              "user": {
                "email": "fabia@ayalo.com"
              },
              "tokenType": "bearer",
              "accessToken": "c3d1973e5ca12eb80d5132283ebd850ede34ae17",
              "expiresIn": 3600,
              "refreshToken": "da0fc43d172ed901466dc783a75697e39bd7302f"
              "chat":{
                "sessionToken":"0bbKLunec_070Ma8_hRHFRUVpz2Bsp9Yz94yRd4EUs50LPBPndjxs5YG5loikeCpUp5WUSYPenUgMO7vPFKqBw.8-4",
                "identityToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImN0eSI6ImxheWVyLWVpdDt2PTEiLCJraWQiOiJsYXllcjovLy9rZXlzL2ZhNjk3M2ZlLTY5NjUtMTFlNS1hODc3LWNlMjQwMjAwNTEyYSJ9.eyJpc3MiOiJsYXllcjovLy9wcm92aWRlcnMvYmVjODhmM2EtNjI2NS0xMWU1LWJjN2UtMGVkZmZlMDA3ODhmIiwicHJuIjoiZnJlZEBheWFsby5jbyIsImlhdCI6MTQ0ODEzNDMzOCwiZXhwIjoxNDQ4MTQ0MzM4LCJuY2UiOiJ0OGdlVVRMQ1VURUxJemVwQlpTbnBxbjUzRVJwMnRvOTg1WHV6RGRuem9hcmNxbVQ3WHBTSUV0R3ZRaVExRy1vMUg3T0haTXFLZVhEV0xNdmpGeTVzQSJ9.Op_9K953ALli4YNliFqtukOCeajyCuhOaA3XIBqn2DGZx30z1xfwExkyS_pbaijBK48IxqV_YePkWi17MAaFlAmxYSgyKUOABUITN_bcFBVStd3gfUkjQbdxmeo45_rlS7MCUxTwnIZfE5hTgizvzCinOLhCMqHSaVr8ORJ9Yn0"
              }
            }

+ Request Singin with invalid password credentials (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "username": "fabia@gmail.com",
                "password":"invalidPassword",
                "grantType":"password",
                "chatSessionToken": true
            }

+ Response 401 (application/json)
    + Header
    
            WWW-Authenticate: Yalo Error type="user", code="invalidUserCredentials", error="User credentials are invalid"

    + Body
    
            {
              "statusCode": 401,
              "error": "Unauthorized",
              "message": "User credentials are invalid",
              "attributes": {
                "type": "user",
                "code": "invalidUserCredentials",
                "error": "User credentials are invalid"
                }
            }

+ Request Sinup a new user (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
                "username": "fabia@gmail.com",
                "password":"1234",
                "grantType":"password"
            }

+ Response 201 (application/json)

    + Headers

            Authorization: Basic dG90bzplZHdhc2Fh

    + Body
    
            {
              "statusCode": 201,
              "user": {
                "email": "fabia@ayalo.com",
              },
              "tokenType": "bearer",
              "accessToken": "c3d1973e5ca12eb80d5132283ebd850ede34ae17",
              "expiresIn": 3600,
              "refreshToken": "da0fc43d172ed901466dc783a75697e39bd7302f"
            }


# yAPI Query collection

# Group Root resource operations
All root resource, except the status resource, are specified after the country `{cc}` path parameter. A root resource is a business object that can be filter, query and refined.

## Filtering resources
Filters on root resources can be executed purely using URI nested path parameters. For example, in the store resource path param filters helps refine the store physical location.

_Filter examples_
* Filters on `stores`
  - `/{cc}/stores/{region}` _Filter stores by  region_
  - `/{cc}/stores/{region}/{city}` _Filter stores by region and city_
  - `/{cc}/stores/{slug}` _Get a specific store document_

## Searching resources
yApi search allows to execute a search and get back hits that match a string. A search can be performed using a simple search string parameter `q`.

_Search examples_
* Searching over resources
  - `/mx/products?q=motos` _Search for products with th string "motos" on any field._
  - `/gt/companies?q=zona+9` _Search all the companies with the string "zona 9" on any field._

## Querying resources
A query request can be executed using the `q` request parameter in conjuction with a field. Queries are provided with a rich query language through the [Apache Lucene Query Parser](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html).

### Fields
yAPI supports fielded data. When performing a query you can either specify a field or not.

You can search any field by typing the field name followed by a colon ":" and then the term you are looking for.

As an example, assume you want to search in the store name field. If you want to answer the question, which store is named "Best Buy", you can query:

* `/mx/stores/df?q=name:"Best Buy"` Search for stores in `df` region that contains "Best Buy" in field name.
* `/gt/stores?q=name:best` Search for stores that contains the string "best" in field name.

### Term modifiers

#### Terms
* A query is broken up into terms and operators. There are two types of terms: __Single Terms and Phrases.__
* A Single Term is a single word such as "motos" or "electronicos".
* A Phrase is a group of words surrounded by double quotes such as "foto video".
* Multiple terms can be combined together with Boolean operators to form a more complex query.

#### Wildcards
yAPI supports modifying query terms to provide a wide range of searching options.
A wildcard search or query supports single and multiple character wildcard searches within single terms _(not within phrase queries)_.

* To perform a single character wildcard search use the "?" symbol.
* To perform a multiple character wildcard search use the "*" symbol.

The single character wildcard looks for terms that match with the single character replaced. For example, to search for "camion" or "camión" you can use the search:

* `/mx/products?q=cami?n`

Multiple character wildcard looks for 0 or more matches. For example, to search for "electronicos" or "electrodomesticos", you can use the search:

* `/mx/products?q=electro*`

You can also use the wildcard in the middle of a term.

* `/mx/stores/df/satelite?q=sal?n`

Note wildcards can be slow, as it needs to iterate over many terms.
To prevent extremely slow wildcard queries, a wildcard term should not start with one of the wildcards * or ?.

### Fuzzy
yAPI supports fuzzy searches or queries. To do a fuzzy search use the tilde, "~", symbol at the end of a Single word Term.
For example to search for a term similar in spelling to "plaza" use the fuzzy search:

* `/mx/stores/df?q=plaza~`

### Boolean Operators
Boolean operators allow terms to be combined through logic operators. yAPI supports AND, "+", OR, NOT and "-" as Boolean operators __(Note: Boolean operators must be ALL CAPS)__.
The OR operator is the default conjunction operator. This means that if there is no Boolean operator between two terms, the OR operator is used.
The OR operator links two terms and finds a matching document if either of the terms exist in a document.
The symbol || can be used in place of the word OR.

#### OR
To search for places that contain either "Segusino muebles" or just "muebles" you can use any of these queries:
* `/mx/products?q="Segusino muebles" muebles`
* `/mx/products?q="Segusino muebles" OR muebles`
* `/mx/products?q="Segusino muebles" || muebles`

#### AND
The AND operator matches resources where both terms exist anywhere in the text of a resource.
To search for documents that contain "muebles" and "electrodomesticos" use the query:

* `/mx/products?q=muebles AND electrodomesticos` _Search for products with the word "muebles" and "electrodomesticos"._

#### Required
The "+" or required operator requires that the term after the "+" symbol exist somewhere in a the field.
To search for products that must contain "iphone" and may contain "telefono" use the query:

* `/mx/products?q=+iphone telefonos`

#### NOT

The NOT operator excludes resources that contain the term after NOT. The symbol ! can be used in place of the word NOT.
To search for products that contain "sony" but not "telefono" use the search:

* `/gt/products?q=sony !telefono`
* `/gt/products?q=sony NOT telefono`

__Note:__ The NOT operator cannot be used with just one term. For example, the following search will return no results:

* `/gt/products?q=sony NOT "telefono celular"`

#### Prohibit

The "-" or prohibit operator excludes resources that contain the term after the "-" symbol.
To search for documents that contain "sony" but not "telefono celular" use the query:

* `/gt/products?q=sony -"telefono celular"`

### Grouping
yAPI supports using parentheses to group clauses to form sub queries. This can be very useful if you want to control the boolean logic for a query.

_Example_

* `/gt/products/electronicos?q=(name:telefono OR name:celular) AND (description:huawei OR name:samsung)` _Search for products in electronicos that the field name contains "telefono" or "celular" and the field description contains "huawei" or "samsung"_
* `/gt/products?q=name:(+samsung +"galaxy note")` _Search for products with name that contains "samsing" or "galaxy note"._

## Selective fields
Allows to selectively load specific fields for each resource returned from a request. For select fields you need to add the `fields` query param to your request.

_Example_

* `/gt/products?q=sony&fiels=name,description` _Get the name and description fields for all products with the word "sony"_

* can be used to load all stored fields from nested resource attribute.

* `/gt/products?q=sony&fiels=name,description,category.*` _Get the name, description and all category fields for all products with the word "sony"_
* `/gt/stores/df/satelite?fiels=slug,name,description,company.name,company.description` _Get the name, description and all category fields for all products with the word "sony"_

<!---
## Aggregations WIP
An aggregation can be seen as a unit-of-work that builds analytic information over a set of documents.

## Embedding resources WIP
An aggregation can be seen as a unit-of-work that builds analytic information over a set of documents.

## Pagination WIP
An aggregation can be seen as a unit-of-work that builds analytic information over a set of documents.
-->

<!-- 
# Group Status

## Status endpoint [/status]
With this endpoint your are able to know if all the services needed to run the API are working properly.

### Get Status [GET]

+ Response 200 (application/json)

        [
            {
                "country": "gt",
                "query-service":"OK",
                "polices-service":"OK",
                "auth-service":"OK"
            },
            {
                "country": "mx",
                "query-service":"OK",
                "polices-service":"OK",
                "auth-service":"OK"
            }
        ] -->


# Group Location

This service translate human addresses to geographic coordinates like latitude/longitude, this helps to calculate the distance from a client to the stores nearby using resources like `stores`.

## Geographic coordinates [/{cc}/location?q={address}]

Given an address, returns a pair or latitude/longitude coordinates.

+ Parameters
    
    <!-- Common parameters -->
    + cc (required, string) - ISO 2 characters country code 
    + address (required) - The street address that you want to translate, in the format used by the national postal service of the country concerned. Additional address elements such as business names and unit, suite or floor numbers should be avoided.

### Get latitude/longitude [GET]

+ Response 200 (application/json)

    [14.622362, -90.514406]

<!-- 
# Group Companies

All companies resources are located under the country code value path.
A company must have at least one store. To get the collection of stores by company you can use the `stores` resource filtering by company.

## Companies Collection [/{cc}/companies]
The companies collection allows to get information for over companies that have stores subscribed to Ayalo. If a GET request is performed over the root companies resource you should get a collection of all the registered companies on a specific country.

+ Parameters
    + cc (required, string) - ISO 2 characters country code

### Get available companies [GET]

+ Response 200 (application/json)

        [
            {
                "id":986,
                "slug":"best-buy",
                "name":"Best Buy",
                "links": {
                    "self": "http://api.ayalo.co/v1/mx/companies/best-buy"
                },
                "title":"Best Buy - Mexico",
                "logo": {
                  "small": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/best-buy-small.png",
                  "medium": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/best-buy-medium.png",
                  "large": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/best-buy-large.png"
                },
                "description": "Compañía que ofrece productos electronicos",
                "phone":"5374-0108",
                "active": true,
                "sell_online": true,
                "url": "httpd://www.bestbuy.mx/",
                "chat_rating": 4.4,
                "tags": [
                    "cargador-apple",
                    "video-juegos",
                    "televisores"
                ],
                "country": {
                    "code":"mx",
                    "name":"Mexico",
                    "url": "http:/api.ayalo.co/v1/countries/mx"
                },
                "stores": "http:/api.ayalo.co/v1/mx/stores?q=company:best-buy"
            },
            {
                "id":786,
                "slug":"walmart",
                "name":"Walmart",
                "links": {
                    "self": "http://api.ayalo.co/v1/mx/companies/walmart",
                    "stores": "http:/api.ayalo.co/v1/mx/stores?q=company:walmart"
                },
                "title":"Walmart - Mexico",
                "logo": {
                  "small": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/walmart-small.png",
                  "medium": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/walmart-medium.png",
                  "large": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/walmart-large.png"
                },
                "description": "Biggest retail corporation in the world.",
                "phone":"9875-4567",
                "active": true,
                "sell_online": false,
                "url": "http://www.walmart.mx",
                "chat_rating": 4.3,
                "tags": [
                    "alimento",
                    "articulo-limpieza",
                    "refrezco"
                ],
                "country": {
                    "code":"mx",
                    "name":"Mexico",
                    "links": {
                        "self": "http:/api.ayalo.co/v1/countries/mx"
                    }
                }
            }
        ]

## Company [/{cc}/companies/{company_slug}]
Retrieve a company data

+ Parameters
    + cc (required, string) - ISO 2 characters country code
    + company_slug (required) - A company slug

### Get company [GET]

+ Response 200 (application/json)

        {
            "id":986,
            "slug":"best-buy",
            "name":"Best Buy",
            "self":"http://api.ayalo.co/v1/mx/companies/best-buy",
            "title":"Best Buy - Mexico",
            "logo": {
              "small": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/best-buy-small.png",
              "medium": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/best-buy-medium.png",
              "large": "https://s3.amazonaws.com/assets.ayalo.co/mx/logos/best-buy-large.png"
            },
            "description": "Compañía que ofrece productos electronicos",
            "phone":"5374-0108",
            "active": true,
            "sell_online": true,
            "url": "httpd://www.bestbuy.mx/",
            "chat_rating": 4.4,
            "tags": [
                "cargador-apple",
                "video-juegos",
                "televisores"
            ],
            "country": {
                "code":"mx",
                "name":"Mexico",
                "links": {
                    "self": "http:/api.ayalo.co/v1/countries/mx"
                }
            },
            "stores": "http:/api.ayalo.co/v1/mx/stores?q=company:best-buy"
        } -->


# Group Categories
All categories resources are located under the country code value path.

## Categories Collection [/{cc}/categories]
The categories collection allows to get all the available categories in a given country. Stores are grouped by categories.

+ Parameters
    
    <!-- Common parameters -->
    + cc (required, string) - ISO 2 characters country code 

### Get Categories [GET]

+ Response 200 (application/hal+json)

        {
            "total": 2,
            "_links": {
                "self": {"href":"http://api.ayalo.co/v1/mx/categories"}
            },
            "_embedded": {
                "categories": [
                    {
                        "id": "electronicos" ,
                        "name": "Electronicos",
                        "photo": "http://img.ayalo.co/electronicos.png",
                        "_links": {
                            "self": {"href":"http://api.yalo.co/v1/mx/categories/electronicos"}
                        },
                        "_embedded": {
                            "stores": {
                                "total": 3,
                                "_links": {"href":"http://api.yalo.co/v1/mx/stores"},
                                "_embedded": {
                                    "stores":[{
                                        "id": "best-buy-satelite",
                                        "name": "Best Buy Satelite",
                                        "description": "Compañía que ofrece productos electronicos",
                                        "logo": "http://yalo.co/logo-best-buy.png"
                                    },{
                                        "id": "walmart-satelite",
                                        "name": "Walmart Satelite",
                                        "description": "Cadena de supermercados mas grande del mundo",
                                        "logo": "http://yalo.co/walmart-buy.png"
                                    }]
                                }    
                            }
                        }
                    },{
                        "id": "farmacia" ,
                        "name": "Farmacia",
                        "photo": "http://img.ayalo.co/farmacia.png",
                        "_links": {
                            "self": {"href":"http://api.yalo.co/v1/mx/categories/farmacia"}
                        },
                        "_embedded": {
                            "stores": {
                                "total": 3,
                                "_links": {"href":"http://api.yalo.co/v1/mx/stores"},
                                "_embedded": {
                                    "stores":[{
                                        "id": "walmart-satelite",
                                        "name": "Walmart Satelite",
                                        "description": "Cadena de supermercados mas grande del mundo",
                                        "logo": "http://yalo.co/walmart-buy.png"
                                    }]
                                }    
                            }
                        }
                    }
                ]
            }
        }


## Category [/{cc}/categories/{categoryId}]
To get details of a specific category just provide the category id.

+ Parameters
    
    <!-- Common parameters -->
    + cc (required, string) - ISO 2 characters country code 
    + categoryId: `electronicos` (required, string) - The category id is unique identifier

### Get Category [GET]

+ Response 200 (application/hal+json)

        {
            "id": "electronicos" ,
            "name": "Electronicos",
            "photo": "http://img.ayalo.co/electronicos.png",
            "_links": {
                "self": {"href":"http://api.yalo.co/v1/mx/categories/electronicos"}
            },
            "_embedded": {
                "stores": {
                    "_links": {"href":"http://api.yalo.co/v1/mx/stores"}
                }
            }
        }


# Group Stores
All stores resources are located under the country code value path.

## Stores Collection [/{cc}/stores]
The stores collection allow to get information for over physical stores subscribed to Yalo. If a GET request is performed over the root stores resource you should get a collection of all the registered stores on a specific country.

+ Parameters
    
    <!-- Common parameters -->
    + cc (required, string) - ISO 2 characters country code 

### Get Stores [GET]

+ Response 200 (application/hal+json)

        {
            "total": 2,
            "_links": {
                "self": {"href":"http://api.ayalo.co/mx/stores?category=electronicos&location=19.433103,-99.181750"}
            },
            "_embedded": {
                "stores": [
                    {
                        "id": "best-buy-satelite",
                        "name": "Best Buy Satelite",
                        "title": "Best Buy - DF - Satelite",
                        "description": "Compañía que ofrece productos electronicos",
                        "url": "http://www.bestbuy.mx/",
                        "logo": "http://tools.ayalo.co/210602_elektra-logo.jpg",
                        "photos": {
                            "listing":{
                                "big": "https://yaloquiero.mx/img/temp/stores_01.png",
                                "small": "https://yaloquiero.mx/img/temp/stores_01.png"
                            },
                            "profile": {
                                "big": "https://yaloquiero.mx/img/temp/storeprofile_01.png",
                                "small": "https://yaloquiero.mx/img/temp/storeprofile_01.png"
                            }
                        },
                        "location": {
                            "distance": 250,
                            "lat" : 19.435211,
                            "lon" : -99.185434
                        },
                        "address": {
                            "formatted": "Circuito Centro Comercial #2251 CD. Satelite Local 22 Segundo Nivel",
                            "region": {
                                "id":"df",
                                "name":"Distrito Federal"
                            },
                            "city": {
                                "id":"satelite",
                                "name":"Ciudad Satelite"
                            },
                            "country": {
                                "id":"mx",
                                "name":"Mexico"
                            },
                            "postal_code": "12345"
                        },
                        "verified": true,
                        "financing": "Financing description",
                        "rating": 4.7,
                        "chat_rating": 4.1,
                        "amenities": [
                            "credit_card",
                            "take_out",
                            "parking"
                        ],
                        "schedule": [{
                            "days": [
                                1,
                                3,
                                5
                            ],
                            "hours": [
                                ["0800", "1300"],
                                ["1400", "2000"]
                            ]
                        }],
                        "tags": [
                            "cargador-apple",
                            "video-juegos",
                            "televisores"
                        ],
                        "_links": {
                            "self": {"href":"http://api.yalo.co/mx/stores/best-buy-satelite"}
                        },
                        "_embedded": {
                            "categories": [{
                                "id": "electronicos" ,
                                "name": "Electronicos",
                                "photo": "https://yaloquiero.mx/img/temp/storeprofile_01.png",
                                "_links": {
                                    "self": {"href":"http://api.yalo.co/mx/categories/electronicos"}
                                }
                            }]
                        }
                    },
                    {
                        "id": "walmart-satelite",
                        "name": "Walmart satelite",
                        "title": "Walmart - DF - Satelite",
                        "description": "Cadena de supermercados mas grande del mundo",
                        "url": "http://www.walmart.mx/",
                        "logo": "http://tools.ayalo.co/210602_walmart.jpg",
                        "photos": {
                            "listing":{
                                "big": "https://yaloquiero.mx/img/temp/stores_02.png",
                                "small": "https://yaloquiero.mx/img/temp/stores_02.png"
                            },
                            "profile": {
                                "big": "https://yaloquiero.mx/img/temp/storeprofile_02.png",
                                "small": "https://yaloquiero.mx/img/temp/storeprofile_02.png"
                            }
                        },
                        "location": {
                            "distance": 375,
                            "lat" : 19.441466,
                            "lon" : -99.183322
                        },
                        "address": {
                            "formatted": "Camino San Juan de Aragón 516, Ciudad de México, DF‎",
                            "region": {
                                "id":"df",
                                "name":"distrito federal"
                            },
                            "city": {
                                "id":"eduardo-molina",
                                "name":"Eduardo Molina"
                            },
                            "country": {
                                "id":"mx",
                                "name":"Mexico"
                            },
                            "postal_code": "12345"
                        },
                        "verified": true,
                        "financing": "financing description",
                        "rating": 4.5,
                        "chat_rating": 4.6,
                        "amenities": [
                            "credit_card",
                            "take_out",
                            "parking"
                        ],
                        "schedule": [{
                            "days": [
                                1,
                                2,
                                3,
                                4,
                                5
                            ],
                            "hours": [
                                ["0800", "2200"]
                            ]
                        }],
                        "tags": [
                            "cargador-apple",
                            "video-juegos",
                            "televisores"
                        ],
                        "_links": {
                            "self": {"href":"http://api.yalo.co/mx/stores/walmart-satelite"}
                        },
                        "_embedded": {
                            "categories": [{
                                "id": "electronicos" ,
                                "name": "electronicos",
                                "photo": "https://yaloquiero.mx/img/temp/storeprofile_01.png",
                                "_links": {
                                    "self": {"href":"http://api.yalo.co/mx/categories/electronicos"}
                                }
                            },{
                                "id": "farmacia" ,
                                "name": "Farmacia",
                                "photo": "https://yaloquiero.mx/img/temp/stores_03.png",
                                "_links": {
                                    "self": {"href":"http://api.yalo.co/mx/categories/farmacia"}
                                }
                            }]
                        }
                    }
                ]
            }
        }

## Store [/{cc}/stores/{storeId}]
To get details of a specific Store you must provide the id of a store.

+ Parameters
    :(cc parameter)[parameters.md countryCode:]
    + storeId: `best-buy-df-satelite` (required, string) - The store id is an unique store identifier

### Get Store [GET]

+ Response 200 (application/hal+json)

        {
            "id": "best-buy-satelite",
            "name": "Best Buy Satelite",
            "title": "Best Buy - DF - Satelite",
            "description": "Compañía que ofrece productos electronicos",
            "url": "http://www.bestbuy.mx/",
            "logo": "http://yalo.co/logo-best-buy.png",
            "photos": {
                "listing":{
                    "big": "https://yaloquiero.mx/img/temp/stores_01.png",
                    "small": "https://yaloquiero.mx/img/temp/stores_01.png"
                },
                "profile": {
                    "big": "https://yaloquiero.mx/img/temp/storeprofile_01.png",
                    "small": "https://yaloquiero.mx/img/temp/storeprofile_01.png"
                }
            },
            "location": {
                "distance": 250,
                "lat" : 19.435211,
                "lon" : -99.185434
            },
            "address": {
                "formatted": "Circuito Centro Comercial #2251 CD. Satelite Local 22 Segundo Nivel",
                "region": {
                    "id":"df",
                    "name":"Distrito Federal"
                },
                "city": {
                    "id":"satelite",
                    "name":"Ciudad Satelite"
                },
                "country": {
                    "id":"mx",
                    "name":"Mexico"
                },
                "postal_code": "12345"
            },
            "verified": true,
            "financing": "Financing description",
            "rating": 4.7,
            "chat_rating": 4.1,
            "amenities": [
                "credit_card",
                "take_out",
                "parking"
            ],
            "schedule": [{
                "days": [
                    1,
                    3,
                    5
                ],
                "hours": [
                    ["0800", "1300"],
                    ["1400", "2000"]
                ]
            }],
            "tags": [
                "cargador-apple",
                "video-juegos",
                "televisores"
            ],
            "_links": {
                "self": {"href":"http://api.yalo.co/mx/stores/best-buy-satelite?location=19.433103,-99.181750"}
            },
            "_embedded": {
                "categories": [{
                    "id": "electronicos" ,
                    "name": "Electronicos",
                    "photo": "https://yaloquiero.mx/img/temp/storeprofile_01.png",
                    "_links": {
                        "self": {"href":"http://api.yalo.co/mx/categories/electronicos"}
                    }
                }]
            }
        }

<!-- 
# Group Places

Recources related to coutries, cities and zones.

## List Countries [/countries]

Coutries collection.

### Retrieve all countries [GET]

Retrieves a list of all available countries.

+ Response 200 (application/json)

        [
            {
                "code": "gt",
                "name": "Guatemala",
                "cities": "123"
            },
            {
                "code": "mx",
                "name": "Mexico",
                "cities": "456"
            }
        ]

## Get Country [/countries/{cc}]

Retrieve country data.

+ parameters
    + cc - ISO 2 characters country code

### Get country data [GET]

Get data about a coutry.

+ Response 200 (application/json)

        {
            "code": "gt",
            "self": "http:/api.ayalo.co/v1/countries/gt"
            "name": "Guatemala",
            "cities": "123"
        }

## List Cities [/countries/{cc}/cities]

City collections.

+ parameters
    + cc - ISO 2 characters country code

### Retrieve cities by country [GET]

+ Response 200 (application/json)

        [
            {
                "id": "1",
                "name": "Guatemala city",
                "location": "14.583559, -90.527511",
                "zones": [
                    {
                        "name": "Zona 1",
                        "location": "14.583559, -90.527511"
                    },
                    {
                        "name": "Zona 2",
                        "location": "14.59, -90.6042"
                    }
                ]
            },
            {
                "id": "2",
                "name": "Mixco",
                "location": "14.634350, -90.600236",
                "zones": [
                    {
                        "name": "Zona 1",
                        "location": "14.583559, -90.527511"
                    },
                    {
                        "name": "Zona 2",
                        "location": "14.59, -90.6042"
                    }
                ]
            }
        ]

## Get City [/countries/{cc}/cities/{city_id}]

Retrieve city data.

+ parameters
    + cc - ISO 2 characters country code
    + city_id - City id

### Get city [GET]

+ Response 200 (application/json)

        {
            "id": "1",
            "name": "Guateamala city",
            "location": "14.583559, -90.527511",
            "zones": [
                {
                    "name": "Zona 1",
                    "location": "14.583559, -90.527511"
                },
                {
                    "name": "Zona 2",
                    "location": "14.59, -90.6042"
                }
            ]
        } -->

<!-- 
## Group Products resource WIP
Request operation for yAPI avaliable products. -->
